.partenaires {
  height: 50px;
  margin: 80px auto 50px;
}

.partenaires-container {
  text-align: center;
}

.social-footer {
  font-size: 40px;
}

.footer-text {
  font-family: "Times New Roman", Times, serif;
}

.footer-text a {
  text-decoration: none;
  text-decoration-thickness: 1px;
}

footer {
  margin-top: 180px;
}
