.title-container {
  height: 480px;
  width: 100%;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

.eikoncia-title {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0px;
  bottom: 0px;
}

.eikoncia-title img {
  width: 80%;
  margin: 90px 10%;
  position: relative;
}

.background-video {
  opacity: 30%;
  z-index: -1;
  width: 100%;
  position: relative;
  bottom: 250px;
}

.front-text {
  font-family: "Akshar", sans-serif;
  margin: 115px 0;
}

.eikonica-clair {
  filter: invert(1);
}
