.graphic-top-part {
  position: relative;
}

.graphic-element-back {
  position: absolute;
  z-index: -10;
}

.exagone {
  left: -30px;
  height: 570px;
  opacity: 50%;
}

.fond-procedural-3 {
  height: 1440;
  top: 0px;
  right: -30px;
}

.barres {
  height: 300px;
  width: 1920px;
  top: 1750px;
  right: -30px;
  opacity: 50%;
}

.singe {
  height: 1080px;
  top: 2460px;
  right: -30px;
  opacity: 50%;
}

.foodtruck {
  height: 410px;
  top: 2850;
}

.grille-1 {
  height: 890px;
  width: 1440px;
  top: 2400;
}

.smyle-back {
  height: 74px;
  top: 1900px;
  right: 400px;
}
