.graphic-element-top {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.a-letter {
  height: 250px;
  top: 550px;
  right: -30px;
  opacity: 50%;
}

.grille-2 {
  height: 1080px;
  top: 1300px;
  left: 400px;
}

.bandeau-top {
  height: 41px;
  top: 2540px;
  right: -30px;
}

.degrade-bottom {
  position: fixed;
  width: 200%;
  height: 100px;
  bottom: 0px;
  z-index: 200;
  filter: blur(100px);
  pointer-events: none;
}

.degrade-top {
  position: fixed;
  width: 200%;
  height: 100px;
  top: 0px;
  z-index: 200;
  filter: blur(100px);
  pointer-events: none;
}
